
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.Navbar{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

li, a{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 16px ;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.Navbar{
    list-style: none;
}

.Navbar li {
    display: inline-block;
    padding: 0px 20px;
}


.carousel-item{
    max-height: 400px;
    
}





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color: aliceblue;
    padding: 70px 0;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}


.container_one{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.container_one .box{
    position: relative;
    height: 400px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 4); 
    overflow: hidden;
}



.container_one .box .imgbox{
    width: 100%;
    height: 50%;
}

.container_one .box .imgbox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container_one .box h3{
 font-size: 30px;
 position: relative;
} 

.container_one .box p{
    font-size: 15px;
    position: relative;
   }  */